 
 
  
  .window{
    --left: 50px;
    --top: 50px;
    --w: 700px;
    --h: 600px;
    --w_bdr: 2px;
  
    --w_toolbar: calc(var(--w) - var(--w_bdr)*2);
    --h_toolbar: 40px;
  
    --w_cardTrack: calc(var(--w) - 30px - var(--w_bdr)*2);
  
    --w_bdr_card: 1px;
    --mrg_side_card: 7px;
    --mrg_TopBot_card: 20px;

    --h_title: 32px;

    --w_card: calc(var(--w_cardTrack) - 2*var(--mrg_side_card) - 2*var(--w_bdr_card));
    --h_card: calc(var(--w_cardTrack) - 2*var(--mrg_side_card) - 2*var(--w_bdr_card));    
  
    


    position: absolute;
   
    left: var(--left);
    top: var(--top);  
    height: var(--h); 
    width: var(--w);  
  
    
    border-radius: 5px;
   
    /* rgba(29, 28, 29, 0.5), rgba(174, 173, 174, 0.5) */
    background-image: linear-gradient(135deg, rgba(26, 88, 112, 0.967) 0%, rgba(12, 42, 54, 0.98) 70%);


    /* background-image: linear-gradient(135deg, rgba(99, 209, 252, 0.967) 0%, rgba(22, 78, 99, 0.98) 70%); */


    box-shadow: -15px 15px 20px rgb(0, 0, 0);

    /* background: rgb(19, 65, 83); */
    
    /* box-shadow:  0 -0.25rem 1.5rem rgb(73, 73, 73) inset,
                  0 0.25rem 0.5rem 0 rgb(161, 160, 161) inset;    */

    /* z-index: 0; */


    /* resize:both;
    overflow:auto;   */

    /* border: 10px solid rgba(26, 88, 112, 0.967); */
   }

/* 
   .window .grid{
      position: relative;
    
      left: 0px;
      top: 0px;  

      height: calc(var(--h) - 60px); 

      margin-top: 30px;

      margin-left:  10px;
      margin-right:  40px;


      background-size: 30px 30px;
      background-image:
        linear-gradient(to right,  rgba(98, 98, 98, 0.4) 2px, transparent 2px),
        linear-gradient(to bottom, rgba(98, 98, 98, 0.4) 2px, transparent 2px);
   
 
   } */
  
/*    
  .window::before {
  
      content: "";
      display: block; 
      height: calc(0.08 * var(--h_title));
  
      position: absolute;
      top: calc(0.08 * var(--h_title));
      left: 50%;
  
      transform: translateX(-50%);
      width: calc(100% - 1.2rem);
  
    
      border-radius: 100%;
      
      opacity: 0.4;
      background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
  } */
  
  .window .titleBar{
    position: absolute;
    
    left: 0px;
    top: 0px; 
    
    border-width: 0px 0px 0.1px 0px;
    border-color: rgb(182, 182, 182);
    border-style: solid;   

    height: var(--h_title); 
    width:  var(--w);  

    border-radius:  5px 5px 0px 0px; 

 
      /* background: rgba(12, 42, 54, 0.98); */
      /* background-image: linear-gradient(180deg, rgba(174, 173, 174, 0.2) 0%, rgba(29, 28, 29, 0.4) 20%, rgba(29, 28, 29, 0.4) 70%, rgba(174, 173, 174, 0.2) 100%); */
      background-image: linear-gradient(180deg, rgba(62, 130, 182, 0.52) 0%, 
                                                rgba(31, 67, 94, 0.5) 20%, 
                                                rgba(31, 67, 94, 0.5) 70%, 
                                                rgba(62, 130, 182, 0.5) 100%);          
  }

  .window .title{
  
    /* font-family: Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  
    position: absolute;
    
    font-size: calc((13/30) * var(--h_title));
    left:14px;
    /* top: 10px; */
    top: calc((1/4) * var(--h_title));
    font-weight: bold; 
    color: rgba(255,255,255,0.875);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.95);   
  }
  
  
  
  .dragHandle:hover{ 
    cursor: grab;  
  }
  
  .dragHandle:active{ 
    cursor: grabbing;  
  }
   
  
 
   
  
  .window .scrollBox {
    position: absolute;
  
    right: calc(var(--w) * 0.01); 
    bottom: calc(var(--w) * 0.01);  
    top: calc(var(--h_title)*1.5); 
  
    width: calc(var(--w) - 15px - var(--w_bdr)*2);
      
    border-radius: 5px;  
  
    overflow-y: scroll;
    overflow-x: scroll;
    /* z-index: 9;   */
  } 
  
  
  .window .scrollBox::-webkit-scrollbar { 
    position: absolute;  
    /* width: calc(0.01*var(--h));
    height: calc(0.01*var(--h)); */
    width: 10px;
    height: 10px;
  }
  
  .window .scrollBox::-webkit-scrollbar-track {
    background: rgba(130, 154, 173, 0.5);
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 2px;  
  }
  
  .window .scrollBox::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: rgba(228, 228, 228, 0.6);
  }
  
  .window .scrollBox::-webkit-scrollbar-thumb:hover{
    background: rgba(238, 234, 234, 0.8);
  }
  
  .window .scrollBox::-webkit-scrollbar-thumb:active{
    background: rgba(231, 230, 230, 1);
  }
   
  


  .window .scroll-spacer{
    /* display: none; */

    width: calc(var(--w_card) + 0px);
    height: var(--h_card);
  
 
    background: rgba(252, 255, 255, 0);
 
   
  }
 
